html {
  font-size: 10px;
  background: url(background.png) bottom center;
  background-size: cover;
}

.keys {
  display:inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height:98vh; /*vh is relative to size of viewport */
  align-items: center;
  justify-content: center;
}

.key {
  border:3.5px solid black;
  border-radius:2px;
  margin:4rem;
  font-size: 0.3rem;
  padding:2rem 3rem;
  transition:all .07s;
  width:70px;
  text-align: center;
  color:white;
  background-color: rgba(41, 70, 115, 0.5);
  box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 12px 12px rgba(0,0,0,0.40);
}

.playing {
  transform:scale(1.1);
  border-color:#ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 24px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#f7da4c;
  font-family: Calibri, sans-serif;
}
